*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------- Estilos de Index----------------*/
.cuerpo{
    min-width: 100%;
}
/*---------------- Estilos de Encabezado----------------*/
.encabezado{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:21.9em;
    background-color: #30343F;
    text-decoration: none;
    color: #FAFAFF;
    height: 6em;


}

.logo{
    margin-left:-40px ;
}


.barra_navegacion a{
    color: #FAFAFF;
    text-decoration: none;
    margin-left: 25px;
    font-family: Raleway;
    font-size: 1.1em;
   line-height: 3.1em;
   letter-spacing: 0em;
    text-align: left;
}
/*---------------- Estilos de Banner----------------*/
.banner{
height:20em ;
background-image: url(../images/funkos-banner.jpg);
background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del elemento */
background-position: 50% 80%;
display:flex;
align-items: center;
}

.descripcionBanner{
    color:#FAFAFF ;
    font-family: Raleway;
}
.descripcionBanner h3{
font-size: 2em;
line-height: 1.5em;
letter-spacing: 0em;
margin-left:3.4em;


   
}
.descripcionBanner  p{
font-size: 1.1em;
line-height:1.1em;
letter-spacing: 0em;
margin-left:6.2em;

}

.botonShop{
    margin-top:20px;
}
.botonShop .boton{
    color: black !important;
    font-family: Inter;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0em;
    margin-left: 6.8em;
    text-align: center;
    color:#FAFAFF ;
    text-decoration: none; 
     background-color: white;
    border:10px solid (rgb(15, 15, 15)); 
    border-left: 43px solid white;
    border-right: 43px solid white;
    border-radius: 50px; /* Esquinas redondas */
    padding: 10px; /* Espacio interior para el contenido */
  
}
/*---------------- Estilos de Banner----------------*/
.productos{
    display:flex;
    flex-direction: column;
   
    

}
/*---------------- -----Productos--------------------------------*/
.productos{
    margin-left:5em;
    margin-right:5em;
   
}

/*---------------- Producto 1----------------*/
.producto-1{
    display:flex;
    flex-direction:row;
    align-items: center;
}

.producto-1-descripcion{
    width:35em;
    height:10em;
}
.producto-1-detalle h3{
font-family: Raleway;
font-size: 2.8em;
line-height: 2em;
letter-spacing: 0em;
text-align: left;
color: #111111;

}
.producto-1-linea img{
    width:35em;
}
.producto-1-detalle p{
font-family: Raleway;
font-size: 1.2em;
line-height: 1.8em;
letter-spacing: 0em;
text-align:left;
color: #4F4F4F;
;
}
.producto-1-boton a{
font-family: Inter;
margin-left:1em;
font-size: 1.1em;
line-height: 3.8em;
letter-spacing: 0em;
text-align: center;
color:#FAFAFF ;
text-decoration: none; 
 background-color:#30343F;
border:10px solid (#30343F); 
border-radius: 50px; /* Esquinas redondas */
padding: 10px; /* Espacio interior para el contenido */
border-left: 1.4em solid #30343F;
border-right: 1.4em solid #30343F;
border-top: .1em solid #30343F;
border-bottom: .1em solid #30343F;
}

.producto-1-imagen{
    width: 35em;
    height: 35em;
}
/*---------------Producto 2----------------*/
.producto-2{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.producto-2-descripcion{
    width:35em;
    height:10em;
}
.producto-2-detalle h3{
font-family: Raleway;
font-size: 2.8em;
line-height: 2em;
letter-spacing: 0em;
text-align: left;
color: #111111;

}
.producto-2-linea img{
    width:35em;
}
.producto-2-detalle p{
font-family: Raleway;
font-size: 1.2em;
line-height: 1.8em;
letter-spacing: 0em;
text-align: left;
color: #4F4F4F;
;
}
.producto-2-boton a{
font-family: Inter;
margin-left:1em;
font-size: 1.1em;
line-height: 3.8em;
letter-spacing: 0em;
text-align: center;
color:#FAFAFF ;
text-decoration: none; 
 background-color:#30343F;
border:10px solid (#30343F); 
border-radius: 50px; /* Esquinas redondas */
padding: 10px; /* Espacio interior para el contenido */
border-left: 1.4em solid #30343F;
border-right: 1.4em solid #30343F;
border-top: .1em solid #30343F;
border-bottom: .1em solid #30343F;
}

.producto-2-imagen{
    width: 35em;
    height: 35em;
}
/*---------------- Producto 3 ----------------*/
.producto-3{
    display:flex;
    flex-direction:row;
    align-items: center;
}

.producto-3-descripcion{
    width:35em;
    height:10em;
}
.producto-3-detalle h3{
font-family: Raleway;
font-size: 2.8em;
line-height: 2em;
letter-spacing: 0em;
text-align: left;
color: #111111;

}
.producto-3-linea img{
    width:35em;
}
.producto-3-detalle p{
font-family: Raleway;
font-size: 1.2em;
line-height: 1.8em;
letter-spacing: 0em;
text-align: left;
color: #4F4F4F;
;
}
.producto-3-boton a{
font-family: Inter;
margin-left:1em;
font-size: 1.1em;
line-height: 3.8em;
letter-spacing: 0em;
text-align: center;
color:#FAFAFF ;
text-decoration: none; 
 background-color:#30343F;
border:10px solid (#30343F); 
border-radius: 50px; /* Esquinas redondas */
padding: 10px; /* Espacio interior para el contenido */
border-left: 1.4em solid #30343F;
border-right: 1.4em solid #30343F;
border-top: .1em solid #30343F;
border-bottom: .1em solid #30343F;
}

.producto-3-imagen{
    width: 35em;
    height: 35em;
}

/*----------------------Ultimo lanzamientos--------------------------------*/

.ult-lanz{
    margin-left:5em;
    margin-right:5em;
}

.ult-lanz ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lanz-1{
    display: flex;
    flex-direction: column;
}

.lanz-1-img{
    height:;
}
